.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 5px;

  .task {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    .time {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      font-size: .9em;

      margin-bottom: 5px;

      .string {
        margin-left: 5px;
      }
    }
  }

  .fill {
    flex: 1 0 0;
  }
}

.wrapper:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
