.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  .dropdown {
    width: 100%;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
